name: Test Project

on:
  push:
    branches:
      - chibo

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:20
    steps:
      - run: npm ci
      - run: npm test
      - run: uname -a
      - run: npm run build
  

